.index_section {
  height: auto;
  margin-right: 5px;
}
main {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}
.main_box {
  margin: 5px;
  border: 2px solid black;
  height: 180px;
  width: 550px;
  background-color: white;
}
.main_box_text {
  height: auto;
  width: 100%;
  justify-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.box_current_value {
  background-color: white;
  border: 2px solid black;
  width: 150px;
  border-style: hidden;
  height: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 25px;
  text-align: center;
  align-content: center;
  border-radius: 20px;
}

#box_one {
  background-color: gold;
}
#box_two {
  background-color: silver;
}
.index_reolad {
  background-color: rgb(179, 179, 179);
  height: 40px;
  width: 100px;
  border-radius: 20px;
}
.reload {
  background-color: white;
  margin: 5px 0px 0px 5px;
  width: 89px;
  height: 30px;
  cursor: pointer;
  transition: ease-in 0.1;
  border-radius: 20px;
}
.reload:hover {
  background-color: rgb(161, 161, 161);
}
.box_value {
  display: flex;
  margin: 5px;
  column-gap: 13%;
}
