nav {
  background-color: black;
}
.nav_bar_frame {
  height: 50px;
  width: 400px;
  padding: 15px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.link {
  text-decoration: none;
}
.link_text {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 27px;
  color: white;
}
.button_frame {
  height: 50px;
  width: 250px;
  padding: 15px;
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.btn {
  background-color: black;
  border: 0px;
}
