nav {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  display: default;
  column-gap: 35%;
}
#img_logo {
  height: 100px;
  width: auto;
  margin-top: 12px;
  margin-left: 10px;
}

.nav_bar_frame {
  height: auto;
  background-color: black;
  width: 235px;
  padding: 15px;
  margin: 5px;
  border: 1px solid black;
  display: flex;
  align-items: center;
}
.link {
  text-decoration: none;
}
.link_text {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 35px;
  color: white;
}
.button_frame {
  height: 50px;
  width: auto;
  padding: 15px;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.btn {
  background-color: black;
  border: 0px;
}
